.product-container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 10px;
    
    background-color: black;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 75px;
    color: rgb(238, 77, 24);
    font-weight: bold;
    background-color: rgb(252, 203, 187);
    
    border-radius: 15px;
    
}
input {
    padding: 8px;
    width: 25rem;
    border-radius: 10px;
    background-color: rgb(246, 193, 176);
    border: 1px solid rgb(255, 174, 224);
    box-shadow:1px 1px 2px;
}
button{
    padding: 5px;
    margin: 15px;
    font-weight: bold;
    
    background-color: rgb(246, 193, 176); 
    border: 1px solid rgb(255, 174, 224);
    border-radius: 50px;
    box-shadow: 1px 1px 2px;
}

.product{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(199, 198, 198, 0.827);
    background-color: rgb(216, 250, 105);
}
.product:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
  }
img{
    width: 275px;
    height: 200px;

}
.product-content{
    width: 275px;
    height: 260px;
    text-align: center;

}
.product-price-container{
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-price{
    background: rgb(246, 254, 1);
    margin: 5px;
    margin-left: 15px;
    margin-bottom: 8px;
    padding: 3px;
    border-radius: 10px;
}
.product-name,
.brand
.product-description,
.product-category{
    font-size: 20px;
}
.brand{
    font-size: 20px;
}
.product-description{
    background-color: darkgray;
     box-shadow: inset 1px 1px 3px;
}
.add-to-cart{
    background: rgb(111, 74, 246);
    padding: 3px;
    color: white;
    width: 3rem;
    height: 2rem;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.add-to-cart ion-icon{
    font-size: 2rem;
}
header{
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.5Pjiju-GPg7RPjYc8Vtc6gHaDt&pid=Api&P=0);
    background-size: cover;
    background-position: fixed;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 576px) { 
    .product{
        display: block;
    }
 }


@media (min-width: 768px) { 
    .product{
        display: block;
    }
 }


@media (min-width: 992px) { 
    .product{
        display: block;
    }
 }


@media (min-width: 1200px) { 
    .product{
        display: block;
    }
 }


@media (min-width: 1400px) {  }